<div class="main-cart">
    <h1 class="main-title">Cart</h1>
    <div class="super-container">
        <div class="main-cart-container">
            <% if (cart.length > 0) { %>
            <% for (let i = 0; i < cart.length; i++) { %>
            <div class="cart-item">
                <div class="cart-item-image">
                    <img width="155px" src="<%= cart[i].image %>" alt="<%= cart[i].name %>">
                </div>
                <div class="cart-item-details">
                    <div class="cart-item-left">
                        <div class="cart-item-name"><%= cart[i].name %></div>
                        <div class="cart-item-quantity">
                            <div class="buy-form" method="post">
                                <input type="number" placeholder="Qty." id="qty<%= cart[i].productId %>" name="qty"
                                    min="1" value="<%= cart[i].quantity %>">
                                <button class="buy-button"
                                    onclick="changeQuan('<%= cart[i].productId %>')">Save</button>
                            </div>
                        </div>
                    </div>
                    <div class="cart-item-right">
                        <div class="cart-item-price">
                            <span class="cart-item-value">₹<%= cart[i].price %></span>
                        </div>
                        <div class="cart-item-price">
                            <span class="cart-item-label">Total:</span>
                            <span class="cart-item-value">₹<%= cart[i].quantity*cart[i].price %></span>
                        </div>
                        <button onclick="deletepr('<%=cart[i].productId %>')" class="buy-button delete">Delete</button>
                    </div>
                </div>
            </div>
            <% } %>
            <% } else { %>
            <div class="cart-empty">Your cart is empty.</div>
            <% } %>
        </div>
        <div class="subtotal">
            <h1 class="subtotal-title">Subtotal</h1>
            <h3> ₹<%=total%></h3>
            <div class="subtotal-cart">
                <% if (cart.length > 0) { %>
                <% for (let i = 0; i < cart.length; i++) { %>
                <div class="subtotal-value"><span class="bold"><%= cart[i].name %>:</span>
                    ₹<%= cart[i].quantity*cart[i].price %>
                </div>
                <% } %>
                <% } else { %>
                <div class="subtotal-value">₹0</div>
                <% } %>
                <button class="buy-button checkout">Checkout</button>
            </div>
        </div>
    </div>
</div>

<style>
    .checkout {
        width: 100% !important;
        margin-top: 20px;
    }
    
    .subtotal-cart {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        width: 80%;
    }

    .bold {
        font-weight: bold;
    }

    .subtotal-title {
        margin-top: 20px;
    }

    .delete {
        margin-top: 15px;
    }

    .buy-button {
        width: 70px;
        height: 30px;
        background: #111;
        color: #eee;
        cursor: pointer;
        font-size: 19px;
        border: none;
        border-radius: 7px;
    }

    .cart-item-label {
        font-weight: bold;
    }

    .cart-item-details {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .cart-item-right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        margin-right: 20px;
    }

    .buy-form input {
        width: 70px;
        height: 30px;
        padding-left: 10px;
        font-size: 15px;
        padding-right: 5px;
        border-radius: 9px;
        border: 1px solid #111;
    }

    .buy-form {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 70%;
    }

    .main-cart-container {
        display: flex;
        flex-direction: column;
        width: 60%;
        height: 100%;
        align-self: flex-start;
        margin-left: 50px;
    }

    .subtotal {
        display: flex;
        flex-direction: column;
        width: 20%;
        min-height: 30vh;
        align-self: flex-start;
        margin-left: 30px;
        background-color: #eee;
        border-radius: 10px;
        padding: 10px;
        padding-left: 30px;
    }

    .main-cart {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .super-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    .cart-item {
        display: flex;
        align-items: center;
        margin: 10px;
        background-color: #eee;
        padding: 10px;
        border-radius: 14px;
    }

    .cart-item-name {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 15px;
    }

    .main-title {
        font-size: 3em;
        margin: 20px;
    }
</style>

<script>
    var notyf = new Notyf();
    async function deletepr(productid) {
        const response = await fetch(`/cart/delete/${productid}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            }
        });
        const data = await response.json();
        if (data.success) {
            window.location.reload();
        } else {
            notyf.error(data.msg);
        }
    }

    async function changeQuan(productId) {
        const quantity = document.getElementById(`qty${productId}`).value;
        const response = await fetch(`/cart/quantity/${productId}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                quantity
            })
        });
        const data = await response.json();
        if (data.success) {
            window.location.reload();
        } else {
            notyf.error(data.msg);
        }
    }
</script>

<style>
    @media screen and (max-width: 770px) {
        .super-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100vw;
        }

        .main-cart-container {
            width: 100%;
            margin: 0px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .cart-item {
            margin: 0px;
            width: 90%;
            height: 140px;
        }
        .cart-item-image img {
            width: 100px !important;
        }
        .subtotal {
            width: 85%;
            margin: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            align-self: center;
        }
        .cart-item-details {
            height: 100%;
        }
    }
</style>