<div class="store">
    <h1>Chandni Chowk Pokemon Bazar</h1>
    <h2>Create New Product</h2>
    <form action="/store/admin/create" method="post">
        <label for="Name">Name</label>
        <input type="text" name="name" id="name" required="true" placeholder="Name"><br><br>
        <label for="quantity">Quantity</label>
        <input type="number" name="quantity" id="quantity" required="true" placeholder="Quantity"><br><br>
        <label for="price">Price</label>
        <input type="number" name="price" id="price" required="true" placeholder="Price"><br><br>
        <br><br>
        <label for="type">Type</label>
        <select id="type" name="type">
            <option value="potions">Potions</option>
            <option value="pokeballs">Pokeballs</option>
            <option value="lootbox">Lootbox</option>
            <option value="other">Other</option>
          </select>
          <br><br>
          <label for="description">Description</label>
          <br><br>
          <textarea name="description" id="description" cols="30" rows="10"></textarea>
          <br><br>
        <button type="submit">Create Item</button>
    </form>

    <% products.forEach(product=>{%>
        <div>
            <h3> <a href="/store/admin/create/<%=product.productId%>" > <%= product.name %> </a> </h3>
            <p> <%= product.price %> Creds </p>
            <p> <%= product.quantity %>  </p>
            <p> <%= product.type %>  </p>
            <p> <%= product.description %>  </p>
        </div>
    <% }) %> 

</div>