<div class="store">
    <div class="store-landing">
        <h1 class="landing-title">Sale on Stadium Tickets, Latest Pokemon Merchandise etc!</h1>
    </div>
    <% products.forEach(productlist=>{%>
    <div class="productlist">
        <%productlist.forEach(product=>{%>
        <div class="list-item" onclick='change("<%=product.productId%>")'>
            <div class="item-image">
                <img height="200px" width='200px' src="<%=product.image%>">
            </div>
            <div class="item-details">
                <h1 class="item-title"><%= product.name %> </h1>
                <div class="same-line">
                    <p class="price"> <span class="bold"> ₹<%= product.price %></span> </p>
                    <p> <span class="bold">Stock Left:</span> <%= product.quantity %> </p>
                </div>
            </div>
        </div>
        <% }) %>
    </div>
    <% }) %>
</div>

<style>
    .landing-title {
        font-size: 3.2vw;
        font-weight: bold;
        color: #fff;
        text-align: center;
    }

    .store {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 120vh;
    }

    .store-landing {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 80%;
        height: 30vh;
        background-color: #212121;
        border-radius: 20px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .same-line {
        margin-top: 10px;
        height: fit-content;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .bold {
        font-weight: bold;
    }

    .productlist {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .list-item {
        width: 300px;
        min-height: 300px;
        background-color: #eee;
        margin: 10px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: 'Jost', sans-serif;
        border-radius: 10px;
        margin-top: 10px;
    }

    .item-image {
        margin-top: 10px;
        border-radius: 10px;
        background-color: white;
        height: 220px;
        width: 220px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .item-title {
        margin-top: 20px;
        font-size: 1.9em;
        font-weight: 600;
        color: #000;
        font-family: 'Jost', sans-serif;

    }

    .item-details {
        width: 220px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        font-family: 'Jost', sans-serif;
        margin-bottom: 30px;
    }

    @media screen and (max-width: 765px) {
        .productlist {
            flex-direction: column;
        }

        .store-landing {
            width: 75%;
            height: 10vh;
        }
        .landing-title {
            font-size: 4.5vw;
        }
    }
</style>

<script>
    function change(productId) {
        window.location.href = "/store/view/" + productId;
    }
</script>